<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glassmorphism Login Form | CodingNepal</title>
</head>
<body>
  <div class="wrapper" style="background-color: rgba(0, 0, 0, 0.471);">
    <form action="#">
      <h2>Login</h2>
        <div class="input-field">
        <input name="acc" id="u1" type="text" required>
        <label>Enter your Account No.</label>
      </div>
      <div class="input-field">
        <input id="p1" type="password" name="password" required>
        <label>Enter your password</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="button">Log In</button>
      <div class="register">
        <p>Don't have an account? <a href="#">Register</a></p>
      </div>
    </form>
  </div>
</body>
</html>