<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glassmorphism Login Form | CodingNepal</title>
</head>
<body>
  <div class="wrapper" style="background-color: rgba(0, 0, 0, 0.477);">
    <form action="#">
      <h2>Signup Form</h2>
        <div class="input-field">
        <input type="text" required>
        <label>Enter your Name</label>
      </div>
      <div class="input-field">
        <input type="number" required>
        <label>Enter your Account No.</label>
      </div>
      <div class="input-field">
        <input type="password" required>
        <label>Enter your password</label>
      </div>
      <div class="input-field">
        <input type="password" required>
        <label>Confirm your password</label>
      </div>
      <button (click)="signup()" type="submit">Signup</button>
      <!-- <div class="register">
        <p>Don't have an account? <a href="#">Register</a></p>
      </div> -->
    </form>
  </div>
</body>
</html>
