<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glassmorphism Login Form | CodingNepal</title>
</head>
<body>
  <div class="wrapper" style="background-color: rgba(0, 0, 0, 0.477);">
    <form [formGroup]="signupForm">
      <h2>Signup Form</h2>
        <div class="input-field">
        <input formControlName="uname" id="u1" name="uname" type="text" required>
        <label>Enter your Name</label>
      </div>
      <div *ngIf="this.signupForm.get('uname')?.errors && this.signupForm.get('uname')?.touched">
        <p class="text-danger">Accept Only Letters</p>
      </div>
      <div class="input-field">
        <input formControlName="acno" id="a1" name="acno" type="number" required>
        <label>Enter your Account No.</label>
      </div>
      <div *ngIf="this.signupForm.get('acno')?.errors && this.signupForm.get('acno')?.touched">
        <p class="text-danger">Accept Only Numbers</p>
      </div>

      <div class="input-field">
        <input formControlName="psw" id="p1" name="psw" type="password" required>
        <label>Enter your password</label>
      </div>
      <div *ngIf="this.signupForm.get('psw')?.errors && this.signupForm.get('psw')?.touched">
        <p class="text-danger">Please include characters and numbers only</p>
      </div>
      <div class="input-field">
        <input formControlName="cpsw"  id="p2" name="cpsw" type="password" required>
        <label>Confirm your password</label>
      </div>
      <div *ngIf="pswCheck">
        <p class="text-danger">password doesn't match</p>
      </div>
      <br>
      <button (click)="signup()" type="submit">Signup</button>
      <!-- <div class="register">
        <p>Don't have an account? <a href="#">Register</a></p>
      </div> -->
    </form>
  </div>
</body>
</html>
