<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- Linking Google font link for icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="home.component.css">
  </head>
  <body>
   <!-- <header><h3>{{name}}</h3></header> -->
    <aside class="sidebar">
      <div class="logo">
        <img src="https://i.postimg.cc/50XqL4kY/pngimg-com-piggy-bank-PNG36.png" alt="logo">
        <h2>PiGGEY BANK</h2>
      </div>
      <ul class="links">
        <h4>Account</h4>
        <li (click)="getProfile()" >
          <span class="material-symbols-outlined">person</span>
          <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">View Profile</a>
        </li>
        <li (click)="getbalance()">
          <span class="material-symbols-outlined">ambient_screen</span>
          <a Balance data-bs-toggle="modal" data-bs-target="#exampleModal1">Balance Enquiry</a>
        </li>
        <li>
          <span class="material-symbols-outlined">pacemaker</span>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal">Money Transfer</a>
        </li>
        <li>
          <span class="material-symbols-outlined">monitoring</span>
          <a data-bs-toggle="offcanvas" routerLink="/history" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Account Statement</a>
        </li>
        <!-- <li>
          <span class="material-symbols-outlined">bar_chart</span>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal">Account Statements</a>
        </li> -->
        <li>
          <span class="material-symbols-outlined">logout</span>
          <a href="#">Log out</a>
        </li>
      </ul>
    </aside>
    <!-- -------Bank Transfer--------- -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color:black">
            <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: aliceblue;">Money Transfer</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div style="text-align: center;" >
            <img src="https://i.postimg.cc/QtFy5Qj7/transfer.jpg" alt="">
          </div>
          <div class="text-center p-5">
            <h4 [ngClass]="msgClr?'s1':'s2'">{{message}}</h4>
          </div>
         <form [formGroup]="moneyTransferForm">
            <div class="modal-body">
              <input formControlName="rAcno" class="form-control" type="text" name="ac" id="rac" placeholder="Recipient Account Number"><br>
              <p *ngIf="moneyTransferForm.get('rAcno')?.errors&&moneyTransferForm.get('rAcno')?.touched" class="text-danger">Please provide numbers</p>
              <input formControlName="amount" class="form-control" type="text" name="amn" id="amnt" placeholder="Amount To Transfer"><br>
              <p *ngIf="moneyTransferForm.get('amount')?.errors&&moneyTransferForm.get('amount')?.touched" class="text-danger">Please provide numbers</p>
              <input formControlName="psw" class="form-control" type="password" name="psn" id="ps" placeholder="Password"><br>
              <p *ngIf="moneyTransferForm.get('psw')?.errors&&moneyTransferForm.get('psw')?.touched" class="text-danger">Include numbers and characters</p>
            </div>
          <div class="modal-footer">
            <button (click)="moneyTransfer()" type="button" class="btn btn-dark">Transfer</button>
          </div>
        </form>  
        </div>
      </div>
    </div>

    <!----------balance enquiry------------>
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color:black">
            <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: aliceblue;">Balance Enquiry</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div style="text-align: center;" >
            <img src="https://i.postimg.cc/QtFy5Qj7/transfer.jpg" alt="">
          </div>
          <div class="modal-body">
         <h3>hi  {{name}}</h3>
         <h3>you account no. {{acno}}</h3>
         <h2>your Balance {{balance}}</h2>
          </div>
        </div>
      </div>
    </div>









      <!-- -------offCanvas--------- -->
    <div style="background-color: rgba(0, 0, 0, 0.192);" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header" style="background-color: rgba(0, 0, 0, 0.591);" >
        <h5 class="offcanvas-title" style="margin-left: 150px; color: aliceblue; " id="offcanvasExampleLabel">Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button><br>
      </div>
      <div class="offcanvas-body">
          <img style="border-radius: 50%; width: 45%;" src="https://i.postimg.cc/YCQK7sfs/60111.jpg" alt="">
        <div style="margin-top:-106px; margin-left: 244px;">
          <h3 style="color: beige;">Hi</h3>
          <p style="color: beige;">{{name}}</p>
          <p style="color: beige;">acno:{{acno}}</p>
        </div>
        <div class="dropdown mt-3">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            settings
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
